<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SinavSistemiDB" connectionString="Data Source=DESKTOP-71327EO\SQLEXPRESS;Initial Catalog=SinavSistemi;Integrated Security=True" providerName="System.Data.SqlClient"/>
<!--Güney connectionString Data Source=DESKTOP-71327EO\SQLEXPRESS;Initial Catalog=SinavSistemi;Integrated Security=True-->
<!--İzzet connectionString -->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>